<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoList</title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1 th:if="${username} != null" th:text="|Witaj ${username}!|">Witaj!</h1>
        <blockquote>
            <p>„Znane są tysiące sposobów zabijania czasu, ale nikt nie wie jak go wskrzesić.”</p>
            <footer>Albert Einstein</footer>
        </blockquote>
        <p><a class="btn btn-primary btn-lg" href="#" th:href="@{/tasks}" role="button">Zarządzaj swoim czasem!</a></p>
    </div>
</div>
</body>
</html>