<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoList</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="span12">
                <div class="pager">
                    <h1>Coming soon!</h1>
                    <br />
                    <a href="#" th:href="@{/}" class="btn btn-large btn-primary"><span class="glyphicon glyphicon-home" aria-hidden="true"> Strona główna</span></a>
                </div>
                <br />
            </div>
    </div>
</div>

</body>
</html>