<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoList</title>
</head>
<body>
    <div layout:fragment="content">
            <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <form  class="form-horizontal" th:action="@{/login}" method="POST">

                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <div>
                                         <input class="form-control" type="email" required="required" id="email" name="email" th:placeholder="Email"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Hasło:</label>
                                        <div>
                                            <input class="form-control" type="password" required="required" th:placeholder="Hasło" id="password" name="password"/>
                                        </div>
                                    </div>

                                    <div align="center" th:if="${param.error}">
                                        <p class="text-danger">Email lub hasło niepoprawne</p>
                                    </div>

                                    <div class="form-group" align="center">
                                        <div>
                                             <button class="btn-block btn btn-primary btn-md" name="Submit" value="Login" type="Submit" th:text="Zaloguj"></button>
                                        </div>
                                     </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
            </div>
    </div>
</body>
</html>